{% extends 'base.html' %}

{% block body %}
{% if status == 'none' %}
	<h4>Message from {{ city.name }}:</h4>
{% elif status == 'maj' %}
	<h4>Message from {{ city.name }}:</h4>
	<h4>
		{{ city.major_announcement }}
	</h4>
{% elif status == 'min' %}
	<h4>Message from {{ city.name }}:</h4>
	<h5>
		{{ city.minor_announcement }}
	</h5>
{% else %}
	<h4>Message from {{ city.name }}:</h4>
	<h4>
		{{ city.major_announcement }}
	</h4>
	<h5>
		{{ city.minor_announcement }}
	</h5>
{% endif %}
<br><br>
<a href="{% url 'cities:announcement_edit' %}">
	<button type="button" class="btn btn-secondary">
		Change
	</button>
</a>
{% endblock %}