{% extends 'base.html' %}

{% block body %}
{% if status == 'none' %}
	<h2>
		{{ city.name }} currently has no announcements. <br>
		If you have an announcement for your commuters, contact your admin.
	</h2>
{% elif status == 'maj' %}
	<h6>Announcement to commuters:</h6>
	<h2>
		{{ city.major_announcement }}
	</h2>
{% elif status == 'min' %}
	<h6>Announcement to commuters:</h6>
	<h4>
		{{ city.minor_announcement }}
	</h4>
{% else %}
	<h6>Announcement to commuters:</h6>
	<h2>
		{{ city.major_announcement }}
	</h2>
	<h4>
		{{ city.minor_announcement }}
	</h4>
{% endif %}
<br><br>
<a href="{% url 'cities:announcement_edit' %}">
	<button type="button" class="btn btn-secondary">
		Change
	</button>
</a>
{% endblock %}