{% extends "base.html" %}
{% load static %}

{% block body %}
<img src="{% static 'images/pasahero.png' %}" style="width:50%;height:50%;display: block; margin-left: auto; margin-right: auto;">
<br><br>
{% if cities %}
	{% for city in cities %}
		<h1>{{ city.name }}</h1>
		<div class="container">
			{% if city.major_is_active %}
				<h2>{{city.major_announcement}}</h2>
			{% endif %}
			{% if city.minor_is_active %}
				<h4>{{city.minor_announcement}}</h4>
			{% endif %}
		</div>
		<br>
	{% endfor %}
{% else %}
	<h2>No announcements as of the moment</h2>
{% endif %}
{% endblock %}