{% extends "base.html" %}

{% block title %}
Submit Info
{% endblock %}

{% block body %}
Great Job! You made your PasahHero account!<br>
Now it is time to fill up this form so that the City Hall can register you as a permitted commuter. <br>
This will let you use the public transportation in your area!<br><br>
Kindly fill up the form below<br><br>
<div class="jumbotron">
	<form id="personForm" 
    action="{% url 'commuters:create_commuter' %}"
		data-lives-cities-url="{% url 'commuters:ajax_load_lives_cities' %}"
		data-works-cities-url="{% url 'commuters:ajax_load_works_cities' %}"
    method="POST">
    {% csrf_token %}
		<h4>What city do you <b>live</b> in?</h4>
	    <table>
        <tr>
          <td>{{ form.lives_province_id.label_tag }}</td>
	        <td>{{ form.lives_province_id }} </td>
	      </tr>
        <tr>
	       <td>{{ form.lives_city_id.label_tag }}</td>
         <td>{{ form.lives_city_id }}</td>
        </tr> 
	    </table>
      <br>
		<h4>What city do you <b>work</b> in?</h4>
      <table>
        <tr>
          <td>{{ form.works_province_id.label_tag }}</td>
          <td>{{ form.works_province_id }} </td>
        </tr>
        <tr>
         <td>{{ form.works_city_id.label_tag }}</td>
         <td>{{ form.works_city_id }}</td>
        </tr> 
      </table>
      <br>
    <h4>Who are you?</h4>
      <table>
        <tr>
          <td>{{ form.first_name.label_tag }}</td>
          <td>{{ form.first_name }} </td>
        </tr>
        <tr>
         <td>{{ form.last_name.label_tag }}</td>
         <td>{{ form.last_name }}</td>
        </tr> 
        <tr>
         <td>{{ form.middle_name.label_tag }}</td>
         <td>{{ form.middle_name }}</td>
        </tr> 
      </table>
      <br>
    <h4>What are your addresses?</h4>
      <table>
        <tr>
          <td>{{ form.present_address.label_tag }}</td>
          <td>{{ form.present_address }} </td>
        </tr>
        <tr>
         <td>{{ form.permanent_address.label_tag }}</td>
         <td>{{ form.permanent_address }}</td>
        </tr> 
      </table>
      <br>
    <h4>What is your job?</h4>
      <table>
        <tr>
          <td>{{ form.profession.label_tag }}</td>
          <td>{{ form.profession }} </td>
        </tr>
      </table>
      <br>
    <h4>Where do you work?</h4>
      <table>
        <tr>
          <td>{{ form.company_name.label_tag }}</td>
          <td>{{ form.company_name }} </td>
        </tr>
        <tr>
          <td>{{ form.company_location.label_tag }}</td>
          <td>{{ form.company_location }} </td>
        </tr>
      </table>
      <br>
    <h4>How will you be contacted?</h4>
    <p>* This will be used by cities you apply routes for so that you can be allowed to ride public transportation</p>
      <table>
        <tr>
          <td>{{ form.cell_number.label_tag }}</td>
          <td>{{ form.cell_number }} </td>
        </tr>
        <tr>
          <td>{{ form.tele_number.label_tag }}</td>
          <td>{{ form.tele_number }} </td>
        </tr>
        <tr>
          <td>{{ form.email.label_tag }}</td>
          <td>{{ form.email }} </td>
        </tr>
      </table>
      <br>
    <h4>Where would you like to be picked up?</h4>
    <p>* Kindly provide a location that is known by most people so that the City Hall can understand where it is.</p>
    <p>* Please understand that this does not ensure that a jeep, bus, or any other vehicle will pass by your provided location. However, it helps the City Hall in determining the best routes for the city.</p>
      <table>
        <tr>
          <td>{{ form.preferred_pick_up.label_tag }}</td>
          <td>{{ form.preferred_pick_up }} </td>
        </tr>
      </table>
      <br>
    <h4>Is there anything you want your city to know that may affect your ability to go to work?</h4>
    <p>* Ex: Knees are weak and ache when walking for too long, Alone at home with child, No access to private vehicles, etc.</p>
      <table>
        <tr>
          <td>{{ form.comments.label_tag }}</td>
          <td>{{ form.comments }} </td>
        </tr>
      </table>
      <br>
	    <button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$("#id_lives_province_id").change(function () {
  var url = $("#personForm").attr("data-lives-cities-url");
  var provinceId = $(this).val();
  $.ajax({
    url: url,
    data: {
      'lives_province_id': provinceId
    },
    success: function (data) {
      $("#id_lives_city_id").html(data);
    }
  });
});
$("#id_works_province_id").change(function () {
  var url = $("#personForm").attr("data-works-cities-url");
  var provinceId = $(this).val();
  $.ajax({
    url: url,
    data: {
      'works_province_id': provinceId
    },
    success: function (data) {
      $("#id_works_city_id").html(data);
    }
  });
});
</script>
{% endblock %}