{% extends "base.html" %}

{% block title %}
Permitted Routes
{% endblock %}

{% block body %}
<div class="jumbotron">
	<h4>Suggested documents to upload: Valid Company ID, Certificate of Employment, and Proof of Residence (e.g. Meralco Bill)</h4>
	<h6>* Only PDF and image files are supported at the moment</h6>
	<form id="personForm" 
	enctype= "multipart/form-data"
    action="{% url 'documents:create' %}"
    method="POST">
    {% csrf_token %}
    <br>
    <h5>Title</h5>
    {{ form.title }}
    <br><br>
    <h5>Description</h5>
    {{ form.description }}
    <br><br>
    <h5>Document</h5>
    {{ form.document }}
    <br><br>
	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
{% endblock %}