{% extends "base.html" %}

{% block title %}
About Page
{% endblock %}

{% block body %}
<h1>About</h1><br>
<div class='container'>
	<p align="justify">
		This site attempts to solve an integral problem in the current state of the Philippine quarantine. Due to the nature of the covid quarantine in our country, cities and minicipalities have their own way of implementing the quarantine. Some cities are more lenient than others but other cities and municipalities make it very difficult for people to go in or out of their respective locations.
	</p>
	<p align="justify">
		Now, this is a huge problem for the work force of the Philippines: nurses, doctors, cashiers, technicians, security guards, janitors, etc.
		Some workers do not live in the city where their place of work is. Even those that live in the city where their place of work is, it is still hard because public transportation is gone for the most part. This makes transportation for the work force hard.
	</p>
	<p align="justify">
		Since the work force cannot go to their place of work, businesses are understaffed. This means that the general public will have a hard time buying necessary goods and services.
	</p>
	<p align="justify">
		Basically, the problem is that workers need a way to go from their residence to their place of work without being stopped by checkpoints, lack of transportation, and other hurdles.
	</p>
	<p align="justify">
		With the problem made clear, this website provides a possible solution. Commuters can sign up and upload necessary documents that verify their identity and place of work. Afterwards, they can apply for routes that are determined by the city they are applying in.
	</p>
	<p align="justify">
		After applying, city hall employees can choose to approve or disapprove their application based on the documents they provided.
	</p>
</div>
{% endblock %}