{% extends "base.html" %}

{% block title %}
About Page
{% endblock %}

{% block body %}
<h1>About</h1><br>
<div class='container'>
	<p align="justify">
		This site attempts to solve an integral problem in the current state of the Philippine quarantine. Due to the nature of the covid quarantine in our country, cities and minicipalities have their own way of implementing the quarantine. Some cities are more lenient than others but other cities and municipalities make it very difficult for people to go in or out of their respective locations.
	</p>
	<p align="justify">
		Now, this is a huge problem for the work force of the Philippines: nurses, doctors, cashiers, technicians, security guards, janitors, etc.
		Some workers do not live in the city where their place of work is. Even those that live in the city where their place of work is, it is still hard because public transportation is gone for the most part. This makes transportation for the work force hard.
	</p>
	<p align="justify">
		Since the work force cannot go to their place of work, businesses are understaffed. This means that the general public will have a hard time buying necessary goods and services.
	</p>
	<p align="justify">
		Basically, the problem is that workers need a way to go from their residence to their place of work without being stopped by checkpoints, lack of transportation, and other hurdles. With the problem made clear, this website provides a possible solution.
	</p>
	<p align="justify">
		The website has three users: 
		<div class="container">
			<b>
				1. PasaHeroes <br>
				2. Admins <br>
				3. Super Admins
			</b>
		</div>
	</p>
	<p align="justify">		
		PasaHeroes are the frontliners. These are the people who need and apply for public transportation which may take the form of jeeps, buses, vans, etc. The path that these vehicles take are called routes. PasaHeroes upload documents into their account which validate their identity and their place of work so that the Admin can approve their application for these routes that they are applying for. Once a PasaHero has been approved to take a route, he or she can provide his or her preference for the time of departure of the vehicles that will transport them from their residence to their place of work. This will be processed by the Admin as the basis for route availability and capacity.
	</p>
	<p align="justify">	
		Admins are the employees of a city or municipality. They have three main duties. The first one is to create and define route availabilities and capacities in their respective city or municipality based on the preference of the PasaHeroes who are approved to take that route. The second one is reading, assessing, and deciding whether to approve or reject an application of a PasaHero to a route. Their basis for approval is the documents that the PasaHeroes have uploaded. The last and most important duty is to provide the necessary transport vehicles for the PasaHeroes.
	</p>
	<p align="justify">	
		A Super Admin is the general manager of the whole transport system in his or her respective city or municipality. It is worth noting that there is only one Super Admin per city. Their main role is to make sure that the Admins are creating the proper routes, accepting the proper applicants, and managing the transportation system. The Super Admin is given the power to activate and deactivate an Admin for the city or municipality that he or she is assigned to.

	</p>
</div>
{% endblock %}