{% extends "base.html" %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block body %}
<br>
<img src="{% static 'images/pasahero.png' %}" style="width:50%;height:50%;display: block; margin-left: auto; margin-right: auto;">
<br>
<h4 align=center>
	For Filipino Frontliners Fighting COVID-19
</h4>
<br>
<div aling=center style="text-align: center;">
	<a href="{% url 'signup' %}" align=center>
		<button type="button" class="btn btn-success">
			Sign Up
		</button>
	</a>
</div>


{% endblock %}