{% extends "base.html" %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block body %}
<br>
<img src="{% static 'images/pasahero.png' %}" style="width:50%;height:50%;display: block; margin-left: auto; margin-right: auto;">
<br>
<h4 align=center>
	For Filipino Frontliners Fighting COVID-19
</h4>
<br>
<div aling=center style="text-align: center;">
	<a href="{% url 'signup' %}" align=center>
		<button type="button" class="btn btn-success">
			Sign Up
		</button>
	</a>
</div>
<br>
<div class='container'>
	<p align="center">
		Hello! I'm Ben. <br>
		I'm a college student. Over the quarantine, I made this site in the hopes that it could help frontliners get to work more easily. <br>
		This website is completely free to use for all commuters and Local Government Units. Due to this, the cost of managing and running the website falls on my parents. For any companies or individuals who would like to support, kindly contact us at mypasahero@gmail.com
	</p>
</div>
{% endblock %}