{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'signup_user.css' %}">
{% endblock %}

{% block title %}
Sign up Page
{% endblock %}


{% block body %}
	<div class="cntnr">
		<h3>Sign Up!</h3>
		<div id="horizontal_divider">
		</div>
		<form action="{% url 'signup' %}" method="POST">
			{% csrf_token %}
			<div id="signup_container">
				<br>

				{{form.username.label}}
				{{form.username}}
				{{form.username.errors}}

				{{form.password.label}}
				{{form.password}}
				{% if form.password.errors.0 %}
					<p>{{form.password.errors.0}}</p>
				{% endif %}

				{{form.confirm_password.label}}
				{{form.confirm_password}}
				{% if form.password.errors|length <= 1 %}
					{% for message in form.confirm_password.errors %}
						<p>{{message}}</p>
					{% endfor %}
				{% endif %}




				<!--{% for field in form %}

					<span>{{field.label}}</span>
					{{field}}
					{{field.errors}}

				{% endfor %} -->
				
				<button type="submit" class="btn btn-success">Sign Up</button>
			</div>

		</form>
	</div>
{% endblock %}
