{% extends "base.html" %}

{% block title %}
Route
{% endblock %}

{% block body %}

<!-- This will be used during the testing period of the website -->
<h4>
	Click the "Join" button to join a route. Afterwards, an Admin will look over your request; you could also just logout and then login again as an Admin from the homepage to confirm your own request! Just remember, your name is Villabroza, Argent!
</h4>
<br>
<!-- This will be used during the testing period of the website -->

<h2>Route: {{route.name}}</h2>
{% if not allowed_route %}
	<a href="{% url 'commuters:apply_route_action' pk=route.id %}">
		<button type="button" class="btn btn-primary">
			Join
		</button>
	</a><br><br>
{% elif allowed_route.status == "A" %}
You have joined this route

{% elif allowed_route.status == "P" %}
Your request is pending at the moment

{% elif allowed_route.status == "R" %}
Your request for the route cannot be serviced as of the moment. <br>
Kindly contact your city or municipality for more information.
{% endif %}
<br>
{% if directions %}
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Starting Point</th>
      <th scope="col">End Point</th>
      <th scope="col">Vehicle</th>
      <th scope="col">Duration (minutes)</th>
      <th scope="col">Departure Times</th>
    </tr>
  </thead>
  <tbody>
  	{% for datum in directions %}
	    <tr>
	      <td>{{ datum.start_location }}</td>
	      <td>{{ datum.end_location}}</td>
	      <td>{{ datum.vehicle }}</td>
	      <td>{{ datum.duration_minutes }}</td>
	      <td>
		     <table class="table table-dark">
			    {% for t in datum.ordered_times %}
		       		<tr>
				        <td>{{t.time}}</td>
		    		</tr>
			    {% endfor %}
		     </table>
	      </td>
	    </tr>
	{% endfor %}
  </tbody>
</table>
{% else %}
	<h3>No trips as of the moment</h3>
	<p>* You can still join in case trips are created</p>
<br>
{% endif %}
{% endblock %}