{% extends "base.html" %}

{% block title %}
My Routes
{% endblock %}

{% block body %}

<!-- <h2>Choose a city to display its available routes</h2>
<h4>Afterwards, you can choose a route to apply for</h4> -->

<!-- This will be used during the testing period of the website -->
<h4>
  For the purposes of testing the website, there is only one city that has data: "Sample City A" which is underneath "Sample Province" (very bottom of the province dropdown menu).
</h4>
<br>
<!-- This will be used during the testing period of the website -->


<div class="jumbotron">
	<form id="personForm" 
	action="{% url 'commuters:apply_city' %}" 
	data-cities-url="{% url 'commuters:ajax_load_cities' %}"
	method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$("#id_province_id").change(function () {
  var url = $("#personForm").attr("data-cities-url");
  var provinceId = $(this).val();
  $.ajax({
    url: url,
    data: {
      'province_id': provinceId
    },
    success: function (data) {
      $("#id_city_id").html(data);
    }
  });
});
</script>
{% endblock %}
