{% extends "base.html" %}

{% block title %}
My Routes
{% endblock %}

{% block body %}
<!-- This will be used during the testing period of the website -->
<h4>Hello! Thank you for logging in as a PasaHero!</h4>
<h4>
	Click "Documents" to upload a document or click "Apply Routes" to apply for a route.
</h4>
<h6 align="justify">
	PasaHeroes are the frontliners. These are the people who need and apply for transportation which may take the form of jeeps, buses, vans, etc. The path that these vehicles take are called routes. PasaHeroes upload documents into their account which validate their identity and their place of work so that the Admin can approve their application for these routes that they are applying for. Once a PasaHero has been approved to take a route, he or she can provide his or her preference for the time of departure of the vehicles that will transport them from their residence to their place of work. This will be processed by the Admin as the basis for route availability and capacity. 
</h6>
<br>
<!-- This will be used during the testing period of the website -->
<h2>You have logged in as {{commuter.first_name}} {{commuter.last_name}}</h2>
<h3>My Routes</h3><br>
	<div class='container'>
		{% if allowed or pending or rejected or routes_inactive %}
			{% if allowed %}
				<h3>Allowed Routes</h3>
				{% for route in allowed %}
					<a href="{% url 'commuters:apply_route' pk=route.route_id.id %}">
						<button type="button" class="btn btn-success">
							{{ route.route_id.name }}
						</button>
					</a>
					<br><br>
				{% endfor %}
			{% endif %}
			{% if pending %}
				<h3>Pending Routes</h3>
				{% for route in pending %}
					<a href="{% url 'commuters:apply_route' pk=route.route_id.id %}">
							<button type="button" class="btn btn-warning">
								{{ route.route_id.name }}
							</button>
					</a>
					<br><br>
				{% endfor %}
			{% endif %}
			{% if rejected %}
			<h3>Rejected Routes</h3>
			{% for route in rejected %}
				<a href="{% url 'commuters:apply_route' pk=route.route_id.id %}">
					<button type="button" class="btn btn-danger">
						{{ route.route_id.name }}
					</button>
				</a>
				<br><br>
			{% endfor %}
			{% endif %}
			{% if routes_inactive %}
			<h3>Inactive Routes</h3>
				{% for route in routes_inactive %}
					<a href="{% url 'commuters:apply_route' pk=route.route_id.id %}">
						<button type="button" class="btn btn-secondary">
							{{ route.route_id.name }}
						</button>
					</a>
					<br><br>
				{% endfor %}
			{% endif %}
		{% else %}
			<h4>You are not permitted to take public transportation as of the moment. <br>Upload the necessary documents through the website and choose routes so that the City Halls can consider your request.</h4>
		{% endif %}
	</div>
{% endblock %}