{% extends 'base.html' %}

{% block body %}
{% if status == 'none' %}
	<h2>
		{{ city.name }} currently has no announcements. <br>
		If you have an announcement for your commuters, contact your Super Admin.
	</h2>
{% elif status == 'maj' %}
	<h6>Announcement to commuters:</h6>
	<h2>
		{{ city.major_announcement }}
	</h2>
{% elif status == 'min' %}
	<h6>Announcement to commuters:</h6>
	<h4>
		{{ city.minor_announcement }}
	</h4>
{% else %}
	<h6>Announcement to commuters:</h6>
	<h2>
		{{ city.major_announcement }}
	</h2>
	<h4>
		{{ city.minor_announcement }}
	</h4>

{% endif %}
{% endblock %}