{% extends "base.html" %}

{% block body %}

<!-- <h2>Change your password here</h2>
<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit" class="btn btn-success">Save changes</button>
</form> -->



<!-- This will be used during the testing period of the website -->

<h5>This is where you can change your password. However, since the site is being tested by multiple users with the same account, you cannot change your password at this time.</h5><br>
<form method="post">
  {% csrf_token %}
  {{ form }}
</form>

<!-- This will be used during the testing period of the website -->

{% endblock %}


