{% extends "base.html" %}
{% load static %}

{% block body %}
<!-- This will be used during the testing period of the website -->
<h4>Hello! Thank you for logging in as an Admin!</h4>
<h6 align="justify">
	Admins are the employees of a city or municipality. They have three main duties. The first one is to create and define route availabilities and capacities in their respective city or municipality based on the preference of the PasaHeroes who have joined that route. The second one is reading, assessing, and deciding on PasaHero requests to a route. Their basis being the documents that the PasaHeroes have uploaded. The last and most important duty is to provide the necessary transport vehicles for the PasaHeroes. <br><br>
	To experience the site as an Admin, click "Active Route" to display all currently active routes!
</h6>
<br>
<!-- This will be used during the testing period of the website -->

<h4>{{city.name}}</h4>
<img src="{% static 'images/pasahero.png' %}" style="width:50%;height:50%;display: block; margin-left: auto; margin-right: auto;">
<br><br><br><br><br><br>
<a href="{% url 'employees:change_password' %}">
	<button type="button" class="btn btn-secondary">
		Change Password
	</button>
</a>
{% endblock %}