{% extends "base.html" %}
{% load static %}

{% block body %}
<!-- This will be used during the testing period of the website -->
<h4>Hello! Thank you for logging in as an Admin!</h4>
<h5>Click "Active Route" to display all currently active routes!</h5>
<br>
<!-- This will be used during the testing period of the website -->

<h4>{{city.name}}</h4>
<img src="{% static 'images/pasahero.png' %}" style="width:50%;height:50%;display: block; margin-left: auto; margin-right: auto;">
<br><br><br><br><br><br>
<a href="{% url 'employees:change_password' %}">
	<button type="button" class="btn btn-secondary">
		Change Password
	</button>
</a>
{% endblock %}