{% extends "base.html" %}

{% block body %}
{% if flip == 't' %}
	<h2>
		From {{ route.point_a }} to {{ route.point_b }}
	</h2>
	<a href="{% url 'employees:employee_preferred_time' pk=route.id  flip='f' %}">
		<button type="button" class="btn btn-secondary">
			Flip
		</button>
	</a>
	<br>
	<br>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Time</th>
	      <th scope="col">Monday</th>
	      <th scope="col">Tuesday</th>
	      <th scope="col">Wednesday</th>
	      <th scope="col">Thursday</th>
	      <th scope="col">Friday</th>
	      <th scope="col">Saturday</th>
	      <th scope="col">Sunday</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr>
	  		<td>12:00 MN</td>
	  		<td>{{count.mon_a_to_b.0000|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0000|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0000|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0000|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0000|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0000|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0000|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>12:30 AM</td>
	  		<td>{{count.mon_a_to_b.0030|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0030|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0030|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0030|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0030|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0030|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0030|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>1:00 AM</td>
	  		<td>{{count.mon_a_to_b.0100|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0100|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0100|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0100|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0100|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0100|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0100|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>1:30 AM</td>
	  		<td>{{count.mon_a_to_b.0130|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0130|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0130|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0130|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0130|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0130|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0130|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>2:00 AM</td>
	  		<td>{{count.mon_a_to_b.0200|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0200|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0200|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0200|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0200|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0200|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0200|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>2:30 AM</td>
	  		<td>{{count.mon_a_to_b.0230|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0230|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0230|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0230|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0230|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0230|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0230|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>3:00 AM</td>
	  		<td>{{count.mon_a_to_b.0300|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0300|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0300|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0300|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0300|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0300|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0300|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>3:30 AM</td>
	  		<td>{{count.mon_a_to_b.0330|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0330|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0330|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0330|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0330|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0330|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0330|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>4:00 AM</td>
	  		<td>{{count.mon_a_to_b.0400|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0400|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0400|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0400|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0400|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0400|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0400|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>4:30 AM</td>
	  		<td>{{count.mon_a_to_b.0430|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0430|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0430|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0430|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0430|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0430|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0430|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>5:00 AM</td>
	  		<td>{{count.mon_a_to_b.0500|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0500|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0500|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0500|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0500|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0500|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0500|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>5:30 AM</td>
	  		<td>{{count.mon_a_to_b.0530|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0530|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0530|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0530|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0530|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0530|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0530|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>6:00 AM</td>
	  		<td>{{count.mon_a_to_b.0600|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0600|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0600|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0600|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0600|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0600|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0600|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>6:30 AM</td>
	  		<td>{{count.mon_a_to_b.0630|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0630|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0630|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0630|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0630|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0630|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0630|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>7:00 AM</td>
	  		<td>{{count.mon_a_to_b.0700|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0700|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0700|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0700|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0700|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0700|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0700|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>7:30 AM</td>
	  		<td>{{count.mon_a_to_b.0730|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0730|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0730|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0730|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0730|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0730|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0730|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>8:00 AM</td>
	  		<td>{{count.mon_a_to_b.0800|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0800|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0800|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0800|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0800|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0800|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0800|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>8:30 AM</td>
	  		<td>{{count.mon_a_to_b.0830|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0830|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0830|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0830|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0830|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0830|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0830|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>9:00 AM</td>
	  		<td>{{count.mon_a_to_b.0900|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0900|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0900|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0900|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0900|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0900|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0900|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>9:30 AM</td>
	  		<td>{{count.mon_a_to_b.0930|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.0930|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.0930|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.0930|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.0930|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.0930|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.0930|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>10:00 AM</td>
	  		<td>{{count.mon_a_to_b.1000|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1000|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1000|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1000|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1000|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1000|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1000|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>10:30 AM</td>
	  		<td>{{count.mon_a_to_b.1030|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1030|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1030|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1030|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1030|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1030|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1030|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>11:00 AM</td>
	  		<td>{{count.mon_a_to_b.1100|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1100|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1100|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1100|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1100|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1100|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1100|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>11:30 AM</td>
	  		<td>{{count.mon_a_to_b.1130|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1130|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1130|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1130|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1130|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1130|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1130|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>12:00 NN</td>
	  		<td>{{count.mon_a_to_b.1200|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1200|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1200|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1200|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1200|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1200|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1200|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>12:30 PM</td>
	  		<td>{{count.mon_a_to_b.1230|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1230|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1230|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1230|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1230|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1230|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1230|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>1:00 PM</td>
	  		<td>{{count.mon_a_to_b.1300|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1300|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1300|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1300|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1300|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1300|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1300|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>1:30 PM</td>
	  		<td>{{count.mon_a_to_b.1330|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1330|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1330|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1330|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1330|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1330|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1330|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>2:00 PM</td>
	  		<td>{{count.mon_a_to_b.1400|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1400|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1400|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1400|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1400|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1400|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1400|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>2:30 PM</td>
	  		<td>{{count.mon_a_to_b.1430|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1430|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1430|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1430|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1430|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1430|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1430|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>3:00 PM</td>
	  		<td>{{count.mon_a_to_b.1500|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1500|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1500|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1500|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1500|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1500|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1500|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>3:30 PM</td>
	  		<td>{{count.mon_a_to_b.1530|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1530|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1530|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1530|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1530|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1530|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1530|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>4:00 PM</td>
	  		<td>{{count.mon_a_to_b.1600|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1600|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1600|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1600|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1600|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1600|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1600|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>4:30 PM</td>
	  		<td>{{count.mon_a_to_b.1630|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1630|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1630|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1630|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1630|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1630|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1630|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>5:00 PM</td>
	  		<td>{{count.mon_a_to_b.1700|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1700|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1700|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1700|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1700|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1700|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1700|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>5:30 PM</td>
	  		<td>{{count.mon_a_to_b.1730|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1730|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1730|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1730|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1730|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1730|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1730|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>6:00 PM</td>
	  		<td>{{count.mon_a_to_b.1800|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1800|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1800|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1800|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1800|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1800|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1800|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>6:30 PM</td>
	  		<td>{{count.mon_a_to_b.1830|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1830|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1830|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1830|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1830|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1830|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1830|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>7:00 PM</td>
	  		<td>{{count.mon_a_to_b.1900|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1900|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1900|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1900|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1900|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1900|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1900|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>7:30 PM</td>
	  		<td>{{count.mon_a_to_b.1930|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.1930|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.1930|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.1930|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.1930|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.1930|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.1930|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>8:00 PM</td>
	  		<td>{{count.mon_a_to_b.2000|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.2000|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.2000|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.2000|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.2000|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.2000|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.2000|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>8:30 PM</td>
	  		<td>{{count.mon_a_to_b.2030|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.2030|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.2030|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.2030|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.2030|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.2030|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.2030|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>9:00 PM</td>
	  		<td>{{count.mon_a_to_b.2100|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.2100|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.2100|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.2100|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.2100|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.2100|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.2100|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>9:30 PM</td>
	  		<td>{{count.mon_a_to_b.2130|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.2130|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.2130|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.2130|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.2130|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.2130|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.2130|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>10:00 PM</td>
	  		<td>{{count.mon_a_to_b.2200|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.2200|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.2200|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.2200|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.2200|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.2200|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.2200|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>10:30 PM</td>
	  		<td>{{count.mon_a_to_b.2230|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.2230|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.2230|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.2230|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.2230|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.2230|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.2230|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>11:00 PM</td>
	  		<td>{{count.mon_a_to_b.2300|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.2300|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.2300|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.2300|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.2300|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.2300|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.2300|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>11:30 PM</td>
	  		<td>{{count.mon_a_to_b.2330|default:"0"}}</td>
	  		<td>{{count.tues_a_to_b.2330|default:"0"}}</td>
	  		<td>{{count.wed_a_to_b.2330|default:"0"}}</td>
	  		<td>{{count.thurs_a_to_b.2330|default:"0"}}</td>
	  		<td>{{count.fri_a_to_b.2330|default:"0"}}</td>
	  		<td>{{count.sat_a_to_b.2330|default:"0"}}</td>
	  		<td>{{count.sun_a_to_b.2330|default:"0"}}</td>
	  	</tr>
	  </tbody>
	</table>
{% else %}
	<h2>
		From {{ route.point_b }} to {{ route.point_a }}
	</h2>
	<a href="{% url 'employees:employee_preferred_time' pk=route.id  flip='t' %}">
		<button type="button" class="btn btn-secondary">
			Flip
		</button>
	</a>
	<br>
	<br>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Time</th>
	      <th scope="col">Monday</th>
	      <th scope="col">Tuesday</th>
	      <th scope="col">Wednesday</th>
	      <th scope="col">Thursday</th>
	      <th scope="col">Friday</th>
	      <th scope="col">Saturday</th>
	      <th scope="col">Sunday</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr>
	  		<td>12:00 MN</td>
	  		<td>{{count.mon_b_to_a.0000|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0000|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0000|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0000|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0000|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0000|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0000|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>12:30 AM</td>
	  		<td>{{count.mon_b_to_a.0030|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0030|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0030|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0030|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0030|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0030|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0030|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>1:00 AM</td>
	  		<td>{{count.mon_b_to_a.0100|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0100|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0100|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0100|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0100|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0100|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0100|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>1:30 AM</td>
	  		<td>{{count.mon_b_to_a.0130|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0130|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0130|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0130|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0130|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0130|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0130|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>2:00 AM</td>
	  		<td>{{count.mon_b_to_a.0200|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0200|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0200|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0200|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0200|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0200|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0200|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>2:30 AM</td>
	  		<td>{{count.mon_b_to_a.0230|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0230|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0230|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0230|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0230|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0230|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0230|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>3:00 AM</td>
	  		<td>{{count.mon_b_to_a.0300|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0300|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0300|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0300|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0300|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0300|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0300|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>3:30 AM</td>
	  		<td>{{count.mon_b_to_a.0330|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0330|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0330|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0330|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0330|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0330|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0330|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>4:00 AM</td>
	  		<td>{{count.mon_b_to_a.0400|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0400|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0400|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0400|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0400|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0400|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0400|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>4:30 AM</td>
	  		<td>{{count.mon_b_to_a.0430|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0430|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0430|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0430|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0430|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0430|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0430|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>5:00 AM</td>
	  		<td>{{count.mon_b_to_a.0500|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0500|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0500|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0500|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0500|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0500|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0500|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>5:30 AM</td>
	  		<td>{{count.mon_b_to_a.0530|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0530|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0530|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0530|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0530|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0530|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0530|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>6:00 AM</td>
	  		<td>{{count.mon_b_to_a.0600|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0600|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0600|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0600|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0600|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0600|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0600|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>6:30 AM</td>
	  		<td>{{count.mon_b_to_a.0630|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0630|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0630|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0630|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0630|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0630|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0630|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>7:00 AM</td>
	  		<td>{{count.mon_b_to_a.0700|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0700|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0700|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0700|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0700|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0700|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0700|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>7:30 AM</td>
	  		<td>{{count.mon_b_to_a.0730|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0730|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0730|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0730|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0730|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0730|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0730|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>8:00 AM</td>
	  		<td>{{count.mon_b_to_a.0800|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0800|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0800|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0800|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0800|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0800|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0800|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>8:30 AM</td>
	  		<td>{{count.mon_b_to_a.0830|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0830|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0830|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0830|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0830|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0830|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0830|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>9:00 AM</td>
	  		<td>{{count.mon_b_to_a.0900|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0900|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0900|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0900|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0900|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0900|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0900|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>9:30 AM</td>
	  		<td>{{count.mon_b_to_a.0930|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.0930|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.0930|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.0930|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.0930|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.0930|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.0930|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>10:00 AM</td>
	  		<td>{{count.mon_b_to_a.1000|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1000|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1000|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1000|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1000|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1000|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1000|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>10:30 AM</td>
	  		<td>{{count.mon_b_to_a.1030|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1030|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1030|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1030|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1030|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1030|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1030|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>11:00 AM</td>
	  		<td>{{count.mon_b_to_a.1100|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1100|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1100|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1100|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1100|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1100|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1100|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>11:30 AM</td>
	  		<td>{{count.mon_b_to_a.1130|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1130|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1130|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1130|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1130|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1130|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1130|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>12:00 NN</td>
	  		<td>{{count.mon_b_to_a.1200|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1200|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1200|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1200|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1200|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1200|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1200|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>12:30 PM</td>
	  		<td>{{count.mon_b_to_a.1230|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1230|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1230|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1230|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1230|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1230|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1230|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>1:00 PM</td>
	  		<td>{{count.mon_b_to_a.1300|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1300|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1300|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1300|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1300|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1300|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1300|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>1:30 PM</td>
	  		<td>{{count.mon_b_to_a.1330|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1330|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1330|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1330|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1330|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1330|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1330|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>2:00 PM</td>
	  		<td>{{count.mon_b_to_a.1400|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1400|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1400|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1400|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1400|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1400|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1400|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>2:30 PM</td>
	  		<td>{{count.mon_b_to_a.1430|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1430|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1430|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1430|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1430|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1430|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1430|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>3:00 PM</td>
	  		<td>{{count.mon_b_to_a.1500|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1500|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1500|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1500|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1500|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1500|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1500|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>3:30 PM</td>
	  		<td>{{count.mon_b_to_a.1530|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1530|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1530|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1530|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1530|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1530|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1530|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>4:00 PM</td>
	  		<td>{{count.mon_b_to_a.1600|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1600|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1600|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1600|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1600|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1600|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1600|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>4:30 PM</td>
	  		<td>{{count.mon_b_to_a.1630|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1630|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1630|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1630|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1630|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1630|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1630|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>5:00 PM</td>
	  		<td>{{count.mon_b_to_a.1700|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1700|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1700|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1700|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1700|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1700|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1700|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>5:30 PM</td>
	  		<td>{{count.mon_b_to_a.1730|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1730|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1730|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1730|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1730|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1730|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1730|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>6:00 PM</td>
	  		<td>{{count.mon_b_to_a.1800|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1800|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1800|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1800|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1800|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1800|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1800|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>6:30 PM</td>
	  		<td>{{count.mon_b_to_a.1830|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1830|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1830|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1830|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1830|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1830|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1830|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>7:00 PM</td>
	  		<td>{{count.mon_b_to_a.1900|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1900|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1900|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1900|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1900|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1900|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1900|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>7:30 PM</td>
	  		<td>{{count.mon_b_to_a.1930|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.1930|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.1930|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.1930|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.1930|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.1930|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.1930|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>8:00 PM</td>
	  		<td>{{count.mon_b_to_a.2000|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.2000|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.2000|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.2000|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.2000|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.2000|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.2000|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>8:30 PM</td>
	  		<td>{{count.mon_b_to_a.2030|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.2030|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.2030|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.2030|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.2030|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.2030|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.2030|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>9:00 PM</td>
	  		<td>{{count.mon_b_to_a.2100|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.2100|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.2100|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.2100|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.2100|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.2100|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.2100|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>9:30 PM</td>
	  		<td>{{count.mon_b_to_a.2130|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.2130|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.2130|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.2130|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.2130|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.2130|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.2130|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>10:00 PM</td>
	  		<td>{{count.mon_b_to_a.2200|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.2200|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.2200|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.2200|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.2200|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.2200|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.2200|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>10:30 PM</td>
	  		<td>{{count.mon_b_to_a.2230|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.2230|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.2230|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.2230|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.2230|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.2230|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.2230|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>11:00 PM</td>
	  		<td>{{count.mon_b_to_a.2300|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.2300|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.2300|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.2300|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.2300|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.2300|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.2300|default:"0"}}</td>
	  	</tr>
	  	<tr>
	  		<td>11:30 PM</td>
	  		<td>{{count.mon_b_to_a.2330|default:"0"}}</td>
	  		<td>{{count.tues_b_to_a.2330|default:"0"}}</td>
	  		<td>{{count.wed_b_to_a.2330|default:"0"}}</td>
	  		<td>{{count.thurs_b_to_a.2330|default:"0"}}</td>
	  		<td>{{count.fri_b_to_a.2330|default:"0"}}</td>
	  		<td>{{count.sat_b_to_a.2330|default:"0"}}</td>
	  		<td>{{count.sun_b_to_a.2330|default:"0"}}</td>
	  	</tr>
	  </tbody>
	</table>
{% endif %}
{% endblock %}